.result__item-container {
  width: 86%;
  margin: 64px 0 0;

  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 1%;
  grid-template-rows: auto;
  grid-row-gap: 16px;
}

@media all and (max-width: 700px) {
  .result__item-container {
    margin-top: 40px;
    width: 95%;

    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 2%;
  }  
}

@media all and (max-width: 425px) {
  .result__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}