.header__menu {
  margin-right: 101px;
  margin-bottom: 0px;

  max-width: 190px;

  display: grid;
  align-items: flex-end;
  grid-template-columns: 35% 15% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    'a a a'
    'b . c'; 

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;  
}

@media all and (max-width: 1450px){
  .header__menu {
    margin-right: 5.5%;
  }
}

@media all and (max-width: 425px){
  .header__menu {
    width: 150px;
    margin-right: 4%;
    font-size: 16px;
  }
}