.search__button {
  position: absolute;
  right: -1px;
  top: 0;
  
  width: 28%;
  height: 64px;

  border-radius: 100px;
  border: none;

  background: #2F71E5;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  cursor: pointer;
  transition: background-color 0.5s linear;
}

.search__button:hover {
  background: #347eff;
}

.search__button:active, :focus {
  background: black;
  color: #ffffff;
  outline: none;
  border: none;
}

@media all and (max-width: 1280px){
  .search__button {
    width: 36%;
    height: 54px;
  }
}

@media all and (max-width: 425px){
  .search__button {
    top: 72px;
      
    width: 100%;
  }
}