@import url('./__title/header__title.css');
@import url('./__menu/header__menu.css');
@import url('./__refs/header__refs.css');
@import url('./__ref/header__ref.css');
@import url('./__ref/_no-active/header__ref_no-active.css');
@import url('./__decor/header__decor.css');
@import url('./__decor/_active/header__decor_active.css');
@import url('./__decor/_left/header__decor_left.css');
@import url('./__decor/_right/header__decor_right.css');

.header {
  position: relative;
  top: 80px;

  margin-top: -80px;

  width: 1440px;
  height: 80px;

  display: flex;
  justify-content: space-between;

  color: #ffffff;

  border-bottom: 1px solid rgba(238, 231, 231, 0.3);
}

@media all and (max-width: 1450px){
  .header {
    width: 100%;
  }
}

@media all and (max-width: 1024px){
  .header {
    height: 64px;
    top: 64px;
    margin-top: -64px;
  }
}

@media all and (max-width: 425px){
  .header {
    height: 56px;
    top: 56px;
    margin-top: -56px;    
  }
}