.not-found__subtitle {
  margin: 16px 0 0;

  width: 330px;

  text-align: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

@media all and (max-width: 768px) {
  .not-found__subtitle {
    margin-top: 5px;
    font-size: 14px;
  }
}