.commits__commit {
  padding: 24px;
  height: 240px;

  background: #ffffff;
  border-radius: 10px;
}

@media all and (max-width: 1280px){
  .commits__commit {
    padding-right: 16px;
  }
}

@media all and (max-width: 1024px){
  .commits__commit {
    height: 194px;
  }
}