.footer__link {
  color: #1a1b22;
  margin-right: 48px;
}

@media all and (max-width: 1450px){
  .footer__link {
    margin-right: 35px;
  }
  .footer__link:last-of-type {
    margin-right: 0;
  }
}

@media all and (max-width: 1024px){
  .footer__link {
    margin-right: 25px;
  }
}

@media all and (max-width: 700px){
  .footer__link {
    margin: 35px 0 0;
  }
}