@import url('./_grey/header__ref_grey.css');
@import url('./_black/header__ref_black.css');
.header__ref {
  color: #ffffff;
}

.header__ref:first-of-type {
  margin-right: 34px;
}

@media all and (max-width: 425px){
  .header__ref:first-of-type {
    margin-right: 7%;
  }
}