@import url('./_1/stat__number_1.css');
@import url('./_2/stat__number_2.css');
@import url('./_3/stat__number_3.css');
@import url('./_4/stat__number_4.css');
@import url('./_5/stat__number_5.css');
@import url('./_6/stat__number_6.css');
@import url('./_7/stat__number_7.css');

.stat__number {
  height: 24px;
  background: #2f71e5;
  color: #ffffff;
}