.result__item {
  width: 100%;
  height: 576px;

  position: relative;

  display: flex;
  flex-direction: column;

  background: #ffffff;
  border-radius: 15px;

  overflow: hidden;
}

.result__item:hover {
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .result__item {
    height: 420px;
  }
}

@media all and (max-width: 700px) {
  .result__item {
    height: 480px;
  }
}

@media all and (max-width: 425px) {
  .result__item {
    height: auto;
    margin-top: 8px;
  }
}