@import url('./__button/search__button.css');
@import url('./__description/search__description.css');
@import url('./__form-container/search__form-container.css');
@import url('./__form/search__form.css');
@import url('./__input/search__input.css');
@import url('./__title/search__title.css');

.search {
  width: 1440px;

  background: url('./phone-main.jpg') center/cover no-repeat;
}

@media all and (max-width: 1450px) {
  .search {
    width: 100%;
  }
}

@media all and (max-width: 1280px) {
 .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and (max-width: 768px) {
  .search {
    background: url('./phone-768.jpg') center/cover no-repeat;
  }
}

@media all and (max-width: 425px) {
  .search {
    background: url('./phone-320.jpg') center/cover no-repeat;
  }
}
