.commits__mail {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 48px;
  left: 80px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #1a1b22;
}